.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    border: 1px solid black;
}

.Body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.StatusButton {
    border: 1px solid black;
    max-width: 100px;
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px grey;
}

.StatusButtonSelected {
    border: 1px solid black;
    max-width: 100px;
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px grey;
    background-color: lightgrey;
}

.TextFilter {
    border: 1px solid black;
    min-width: 100px;
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px grey;
}

.Character {
    border: 1px solid black;
    min-width: 20%;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    box-shadow: 3px 3px 3px grey;
    text-align: center;
}

.Name {
    border: 1px solid grey;
    box-shadow: 3px 3px 3px lightgrey;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

