.Subject {
    border: 2px solid black;
    margin: 16px;
    padding: 16px;
}

.Teacher {
    border: 1px solid grey;
    background-color: lightgrey;
    margin: 16px;
    padding: 16px;
}

.Student {
    border: 1px solid grey;
    background-color: white;
    margin: 16px;
    padding: 16px;
}
